@import './../../../../theme/movement.scss';

.LayerSelectorContainer {
  position: absolute;

  top: 1rem;
  right: 1rem;
  z-index: 10;
	height: 30px;
	.layersMenuButton {
    height: 30px;
    width: 30px;
		padding: 0;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 0.25rem 0 #858585;
    z-index: 10;
    outline: none;
    opacity: .7;

		&.active {
      opacity: 1;
      border: 2px solid setColor(hypergreen, base)
    }

	}


	.menu {
		display: flex;
		flex-direction: column;
		border-radius: 1rem;
		.layerButton {
			height: 30px;
			width: 30px;
			padding: 0;
			margin-top: setSpace(1);
			border-radius: 50%;
			background-color: #fff;
			box-shadow: 0 0 0.25rem 0 #858585;
			opacity: .7;
			z-index: 10;
      outline: none;
			&:first-of-type {
				margin-top: 0;
			}
      &.active {
        border: 2px solid setColor(hypergreen, base)
      }
		}

		&.active {
			background-color: #fff;
		}
  }
}

.react-slidedown.my-dropdown-slidedown {
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}
