html,
body,
.App,
.ant-layout {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.liveView {
  min-height: 500px;
  height: 75vh;
  overflow: hidden;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
