// Spacing variables
$space--half: setSpace(1);
$space: setSpace(2);
$space--double: setSpace(4);
$space--4x: setSpace(8);
$space--6x: setSpace(12);
$space--8x: setSpace(16);
$space--10x: setSpace(20);
$space--12x: setSpace(24);