@import './../../../theme/movement.scss';

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(8%);
  }
  65% {
    transform: translateY(-4%);
  }
  80% {
    transform: translateY(4%);
  }
  95% {
    transform: translateY(-2%);
  }
  100% {
    transform: translateY(0%);
  }
}

.card-default {
  @include setFont(s);
  color: setColor(black);
  backdrop-filter: blur(3px);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  transition: 0.4s all ease-in-out;
  outline: none;
}

.card-header {
  @include setFont(n, bold );
  color: setColor(black);
}
// bodyClassname: 'card-body',
// itemClassname: 'card-item'
