@import './../../../theme/movement.scss';

.account-map-container {
  height: 100%;
  width: 100%;
  background-color: $grey--lighter;
  .leaflet-popup {
    .leaflet-popup-content-wrapper {
      margin-top: setSpace(2);
      background: white !important;
      border-radius: 4px;
      color: #333;
      box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
      .leaflet-popup-content {
        margin: 13px 19px;
        line-height: 1.4;
        .popupTable {
          margin: auto;
          width: 100%;
          thead {
            tr {
              font-size: setSpace(4);
            }
          }
        }
        .popupTableRow {
          padding: 0.3rem setSpace(4) 0.3rem setSpace(4);
        }
        .popupTableRowHeader {
          @include setFont(s);
          color: setColor(grey, dark);
          font-variant-numeric: tabular-nums;
        }
        .popupTableRowContent {
          @include setFont(s);
          width: 100%;
          color: setColor(black, dark);
          font-variant-numeric: tabular-nums;
          &::first-letter {
            text-transform: capitalize;
          }
          &.error {
            color: setColor(warning);
          }
        }
        .emptyCell {
          width: setSpace(2);
        }
      }
    }
    .leaflet-popup-tip-container {
      display: block;
      .leaflet-popup-tip {
        background: white !important;
        // box-shadow:none;
      }
    }
  }
}
.ht-tooltip {
  @include setFont(s);
  background: white !important;
  border-radius: 4px;
  color: #333;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
}
.ht-tooltip-disable {
  // visibility: hidden;
}
.map-marker-account-livelocation {
  background: none;
  border: none;
	transition: all 1s !important;
 }
// Marker cluster styles

.marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;
  background-color: black;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}
.marker-cluster div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;
  background-color: #000;
  text-align: center;
  border-radius: 15px;
  font: 12px 'Helvetica Neue', Arial, Helvetica, sans-serif;
	transition: all 1s;
}

.marker-cluster span {
  line-height: 30px;
}


.leaflet-marker-pane > * {
  transition: transform 1s linear;
}
