@import './../../../theme/movement.scss';

.accordion  {
  .accordion_item {
    .accordion_item_body {
      height: 0;
      transition: max-height 0.4s linear;
      overflow: hidden;
    }
  }
}

.accordion  {

      height: auto;
  .accordion_item.active  {
      height: auto;
    .accordion_item_body {
      height: auto;
    }
  }
}

.accordion  {
  .accordion_item  {
    .accordion_item_header  {
      @include setFont(s, regular);
      padding: $space $space--double;
      display: flex;
      align-items: center;
      // border-top: 1px solid setColor(grey, light);
      cursor: pointer;
      transition: 0.4s all ease-in-out;
      &:hover {
        background-color: setColor(grey, light);
      }
      .accordion_item_title {
        flex: auto;

      }
    }
  }
}

.accordion_item_status {
  height: $space;
}

@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes slide-down {
  0% {
    opacity: 0;
    -moz-transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
