@import './../../../theme/movement.scss';

:global(.accordion .accordion_item .accordion_item_body) {
  height: 0;
  transition: max-height 0.4s linear;
  overflow: hidden;
}

:global(.accordion .accordion_item.active .accordion_item_body) {
  height: auto;
}

:global(.accordion
    .accordion_item
    .accordion_item_header
    .accordion_item_title) {
  flex: auto;
}

:global(.accordion .accordion_item .accordion_item_status) {
  height: $space;
}

@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes slide-down {
  0% {
    opacity: 0;
    -moz-transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
